<div>
	<div class="page-title row text-center">
		<h2 class="col-12">{{myGym}}</h2>
	</div>
	<div class="gym-info">
        <div class="row col-12"><strong class="col-3">Dirección:</strong> <span class="col-4">Alajuela</span></div>
        <div class="row col-12"><strong class="col-3">Teléfono:</strong> <span class="col-4">89786655</span></div>
        <div class="row col-12"><strong class="col-3">Correo:</strong>  <span class="col-4">gym@hotmail.com</span></div>
        <div class="row col-12"><a class="btn btn-secondary col-2" href="#editar-gimnasio" role="button">Editar</a></div>                                  
    </div>
</div>