<div>
	<div class="page-title row text-center">
		<h2 class="col-12">Lista de gimnasios</h2>
	</div>
	<div class="gym-list">      

        <div class="row col-12 table-heading">
        	<strong class="col-4">Nombre</strong>
        	<strong class="col-3">Dirección</strong>
        	<strong class="col-2">Teléfono</strong>
        	<strong class="col-3">Correo</strong>
        </div>  
        <div class="row col-12 table-row">
        	<div class="col-4"><input type="checkbox" class="check"> mi gym</div>
        	<div class="col-3">Alajuela</div>
        	<div class="col-2">89786655</div>
        	<div class="col-3">gym@hotmail.com</div>
        </div>                           
    </div>
    <div class="row col-12"><a class="btn btn-secondary col-2" href="#editar-gimnasio" role="button">Editar</a></div>
</div>