<div>
	<div class="page-title row text-center">
		<h2 class="col-12">Editar Gimnasio</h2>
	</div>
	<div class="gym-info">
        <div class="row col-12"><strong class="col-3">Nombre:</strong> <input type="text" class="col-4"></div>
        <div class="row col-12"><strong class="col-3">Dirección:</strong> <input type="text" class="col-4"></div>
        <div class="row col-12"><strong class="col-3">Teléfono:</strong> <input type="number" class="col-4"></div>
        <div class="row col-12"><strong class="col-3">Correo:</strong>  <input type="email" class="col-4"></div>
        <div class="row col-12"><a class="btn btn-secondary col-2" href="#" role="button">Guardar</a></div>                                
    </div>
</div>